@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css');

html,
body {
  background-color: #fafafa;
  font-family: 'Plus Jakarta Text', sans-serif;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  opacity: 0;
}

#hero-image {
  transform: perspective(1000px) rotateX(28deg) rotateY(0) rotateZ(0);
  transform-origin: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type='text'] {
  font-size: 16px;
}
